.statusTimelineBox{
    max-width: 400px;
    animation: showBox 150ms ease-in-out both;
    border-radius: 10px;
}

.shadow{
    border-radius: 18px;
    width: 250px;
    max-height: 250px;
    overflow-y: auto;
    color: #FFF;
    padding: 20px;
    font-size: 15px;
}

.statusTimelineList{
    display: flex;
    flex-direction: column;
}