.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleTechnician {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid #000;
}
  
.nameTechnician {
    color: black;
    font-size: 20px;
}

.buttonAddStock {
    width: 50px;
    height: 100%;
    background-color: #e84118;
    border: none;
    border-top-right-radius: 5px;
}

tabel {
    margin-top: 5px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }