.TopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 6.123233995736765e-17px 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #dcdde1;
    padding: 22px 32px;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #f50f1c;
    max-height: 86px;
}

.label {
    color: #dcdde1;
    font-size: 15pt;
    margin-left: 30px;
}

.labelName {
    color: #dcdde1;
    font-size: 15px;
}

.avatar {
    width: 25px;
    height: 25px;
    background-color: #f5f6fa;
    border-radius: 100%;
}

.labelPage {
    display: flex;
    align-items: center;
    width: 80%;
    height: 40px;
    border-right: 1px solid white;
    padding-bottom: 10px
}

.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    width: 20%;
    height: 44px;
}

.imgLogo {
    width: 150px;
    height: auto;
}

.description{
    width: 80%;
}

.description ul {
    margin:0;
    padding:0;
    display: flex;
    justify-content: flex-end;
}
  
.description li{
    display: inline-block;
    margin:0 12px;
    cursor: pointer;
    color: white;
}

.description a {
    color: white;
}

.description  a:hover {
    color: black;
}